.side-grey{
  vertical-align: middle !important;
  width:10%;
}

.info-grey{
  height:60px;
  padding-left:8% !important;
  overflow:hidden;
  text-align:center
}

.info-grey2{
  height:60px;
  overflow:hidden;
  text-align:center;
  padding-top:20px;
}

.gallery-header{
  font-weight:bold;
  height:40px;
  overflow:hidden;
}

.gallery-description{
  height:100%;
}

.list-row-desc{
  text-align:center;
  width:70%;
}

.list-row{
  vertical-align: middle !important;
  width:10%;
}

.custom-link{
  text-decoration:none;
  color:inherit;
}

.custom-link:hover,.custom-link:active{
  text-decoration:none;
  color:inherit;
}

.details{
  background-color:#f9f9f9;
  margin-top:10px;
  padding:5px;
}

.reviews{
  margin-top:10px;
  padding:5px;
  display:none;
}

.arrow-left {
  padding-left:5px;
  width:0;
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #645F5F; 
}

.padd-star {
  padding:10px;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}