<div class='span12' style='margin-top:10%'>
  <div class="subheader">
    <h4 class='pull-left'>Sync Error</h4>
  </div>
  <div id='wrapper'>
    <div class="alert alert-danger"><%= @params['msg'] %></div>
  </div>
</div>