<div id="wrapper">
  <div id="scroller">
    <ul id="thelist">
      <%@long_list.each do |item|%>
        <li><%=item%></li>
      <%end%>
    </ul>
  </div>
</div>

<script type='text/javascript'>
  function loaded() {
    myScroll = new iScroll('wrapper');
  }
  document.addEventListener('touchmove', function (e) {
    e.preventDefault();
  }, false);
  document.addEventListener('DOMContentLoaded', loaded(), false);
</script>