<div class='span12' style='margin-top:15%'>
  <div class="subheader">
    <h4 class='pull-left'>Settings</h4>
  </div>
  <div id='wrapper'>
    <% if @msg %>
      <div class="alert alert-info"><%= @msg %></div>
    <% end %>
    <ul class='list-group'>
      <li class="list-group-item">Client ID<br/>
        <h4><span class='label label-default'><%= Rhom::Rhom::client_id %></span></h4>
      </li>
      <li class="list-group-item"><a class='btn btn-primary custom-link' href="<%= url_for :action => :do_sync %>">Perform Sync</a></li>
      <li class="list-group-item"><a class='btn btn-danger confirm_reset' href="<%= url_for :action => :do_reset %>">Reset Database</a></li>
    </ul>
  </div>
</div>
<script type='text/javascript'>
  $(".confirm_reset").click(function(e){
    e.preventDefault();
    if(confirm("Resetting removes all objects from your device.")){
      window.location = "/app/Settings/do_reset";
    }
    else{
      return false;
    }
  })
</script>