<div class='span12' style='margin-top:15%'>
  <div class="subheader">
    <h4 class='pull-left'>Settings</h4>
  </div>
    <% if @msg %>
      <div class="alert alert-danger"><%= @msg %></div>
    <% end %>
    <table class='table table-striped'>
      <tr>
        <td>Client ID:</td>
        <td><%= Rhom::Rhom::client_id %></td>
      </tr>
      <tr>
        <td colspan=2><a href="<%= url_for :action => :reset %>">Reset Database</a></td>
      </tr>
      <tr>
        <td colspan=2><a href="<%= url_for :action => :do_sync %>">Perform Sync</a></td>
      </tr>
    </table>
</div>
