<div class='span12' style='margin-top:10%'>
  <div class="subheader">
    <h4 class='pull-left'>Login</h4>
  </div>
  <div id='wrapper'>
    <% if @msg.size > 0 %>
      <div class="alert alert-danger"><%= @msg %></div>
    <% end %>
    <% if Rho::RhoConfig.email.size > 0 %>
      <center style='margin:0 5px 0 5px'>
        <a href='/app/Settings/do_login?email=<%=Rho::RhoConfig.email%>&password=<%=Rho::RhoConfig.password%>' class='btn btn-primary btn-lg btn-block'>Retry Login</a>
      </center>
    <% else %>
      <form role="form" action="/app/Settings/do_login" style='padding:0 5px 0 5px'>
        <div class='form-group'>
          <input name='email' type='email' class='form-control' id='email' placeholder="Email" />
        </div>
        <div class='form-group'>
           <input name='password' type='password' class='form-control' id='password' placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-info" style="margin-top:5px">Login</button>
      </form>
    <% end %>
  </div>
</div>
