<div class='span12' style='margin-top:10%'>
  <div class="subheader">
    <h4 class='pull-left'>Login</h4>
  </div>
  <div id='wrapper'>
    <% if @msg.size > 0 %>
      <div class="alert alert-danger"><%= @msg %></div>
    <% end %>
    <center style='margin:0 5px 0 5px'>
      <a href='/app/Settings/do_login' class='btn btn-primary btn-lg btn-block'>Retry Login</a>
    </center>
  </div>
</div>